body { 
    font-family: Arial; 
    margin: 40px; 
    background-color: rgb(255, 255, 255);
}

label { 
    display: inline-block; 
    width: 300px;
}

input { 
    margin-bottom: 1px;
    width: 50px; 
}

.row {
    display: flex;
    align-items: flex-start;
    gap: 0;
    margin: 0;
    padding: 0;
    line-height:1;
}

.box { 
    margin-top:2px; 
    padding:2px; 
    background:hsla(0, 0%, 100%, 0.425);
    display: block; 
}

.hidden {
    display: none !important;
}


/* 2. Set minimal spacing for text elements */
span, label,p {
    margin-top: 1px;
    margin-bottom: 5px;  /* minimal bottom margin */
    line-height: 1.2;    /* tighter line spacing */
}
/*-----------------------------------------------------------------*/
.report-container {
    border: 1px solid rgb(0, 0, 0);
    page-break-inside: avoid;
    padding: 2px;
}



.report-header {
    display: flex;
    justify-content: space-between; /* Spread the three columns */
    align-items: flex-start;
    padding: 20px;
    margin-bottom: 20px; /* Space below header */
    background-color: #f3d5af9c;
    border: 5px solid  #c4740cc9; ;
    gap: 50px;
     page-break-inside: avoid;  /* prevents the header from splitting */
    break-inside: avoid;
}

/*-----------------------------------------------------------------*/
.input-row {
    display: flex;
    align-items: baseline;
    gap: 10px;
}

.label-pair {
    display: flex;
    width: 160px;        /* adjust this to line up your colons */
}

.label-text {
    flex: 1;             /* text left aligned */
    text-align: left;
}

.label-colon {
    width: 10px;         /* colon right aligned */
    text-align: right;
    padding-right: 4px;
}
.case-column .main-label {
    width: 150px;            /* allow label to shrink to fit column */
    white-space: normal;    /* allow wrapping if needed */
    margin-right: 5px;      /* small spacing before input */
}

.case-column .input-pair {
    display: flex;
    gap: 10px;               /* horizontal spacing between sub-label and input */
    align-items: center;
}

.case-column .sub-label {
    width: 100px;             /* narrower to fit in column */
    text-align: right;
}


.header-column {
    display: flex;
    flex-direction: column; /* stack items vertically */
    gap: 2px; /* small gap between input rows */
     vertical-align: bottom; /* align input bottom with label */
}

.header-column.center-column {
    align-items: center;
}

.header-column.right-column {
    align-items: flex-end;
}

.header-column input {
    width: 120px;       /* all input boxes same width */
    padding: 2px 4px;
    vertical-align: middle; /* align input with label */
    box-sizing: border-box;
}

.logo {
    max-height: 60px; /* Adjust logo size */
}

/*-----------------------------------------------------------------*/

.input-pair {
    display: flex;
    align-items: flex-start; /* align label and input at top */
    gap: 10px;
    margin: 0;
    line-height: 1;
}

.main-label {
    width: 280px;        /* controls left column alignment */
    white-space: nowrap;
    margin: 0;
}

.sub-label {
    margin: 0; /* 20px pushes phi/gamma to the right */
    width: 90px;
    text-align: right;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.cases-container {
    display: flex;
    width: 100%;                /* full container width */
    margin-top: 20px;
    gap: 1;                     /* no gap, so columns touch edges */
    align-items: flex-start;
}

.case-column {
    flex: 0 0 50%;              /* each column takes exactly 50% */
    display: flex;
    flex-direction: column;     /* stack content vertically */
    align-items: left;        /* center content inside column */
    box-sizing: border-box;}



.input-column {
    display: block;      /* ensures each column is its own row */
    width: 100%;         /* optional, forces full width */
    margin-bottom: 12px; /* spacing between them */
}

.indented {
    margin-left: 30px;
}


.underline {
    text-decoration: underline;
}

.alert {
  padding: 20px;
  background-color: #f44336; /* Red */
  color: white;
  margin-bottom: 15px;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

.equation-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-items: flex-start;
}


/* EQUATION AND IMAGES */
.image-column {
    display: flex;
    flex-direction: row; 
    gap: 10px;          /* space between images */
    align-items: flex-start;
}

/* because it is smaller than kptandelta graph */
.Ngamma_graph {
    height: auto;    /* same size as logo */
    margin-bottom: 5px;   /* same spacing */
    width: 390px;
}

.case-loading-image {
    width: 430px;   /* set desired width */
}

.no-gap-container {
    display: flex;
    flex-direction: column; /* stack rows vertically */
    gap: 01px;                 /* remove vertical spacing between rows */
}


.eq-block {
    display: table;
       border-collapse: collapse;  /* remove table-like spacing */
}

.eq-row {
    display: table-row;
}

.eq-left,
.eq-right {
    display: table-cell;
    padding: 0;
}

.eq-left {
    display: inline-block;
    width: 40px;        /* shrink to fit text */
    margin: 0;
    padding: 0;
    white-space: nowrap; /* prevents weird wrapping that adds space */
}

.eq-right {
    white-space: nowrap;
}
.fraction {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    line-height: 1.1;
}
.fraction-wrapper {
    display: inline-flex;
    align-items: top;
}
.fraction .top {
    display: block;
    border-bottom: 1px solid black;
    padding: 0 2px;
}

.fraction .bottom {
    display: block;
    padding: 0 2px;
}



@media print {

    body {
        font-size: 17pt;
        line-height: 1.4;
        margin: 5mm !important;
    }

    h1 { font-size: 14pt; }
    h3 { font-size: 10pt; }
    p, span, div { font-size: 8pt; }

    input, textarea, button { font-size: 8pt; }
    button { display: none !important; }

    /* HIDE alert boxes */
    #thicknessNoGeogridAlert,
    #thicknessWITHGeogridAlert {
        display: none !important;
    }


     .report-section {
        page-break-inside: avoid;
        break-inside: avoid;
        margin-bottom: 10px; /* optional spacing between sections */
    }

    /* Prevent header from splitting */
    .report-header {
        page-break-inside: avoid;
        break-inside: avoid;
        page-break-before: always;
    }

    /* Prevent container from splitting */
    .report-container {
        page-break-inside: avoid;
        break-inside: avoid;
    }
    /*-------------------------------------------------------------*/
.input-row {
    display: flex;
    align-items: baseline;
    gap: 10px;
}

.label-pair {
    display: flex;
    width: 160px;        /* adjust this to line up your colons */
}

.label-text {
    flex: 1;             /* text left aligned */
    text-align: left;
}

.label-colon {
    width: 10px;         /* colon right aligned */
    text-align: right;
    padding-right: 4px;
}


.header-column {
    display: flex;
    flex-direction: column; /* stack items vertically */
    gap: 2px; /* small gap between input rows */
     vertical-align: bottom; /* align input bottom with label */
}

.header-column.center-column {
    align-items: center;
}

.header-column.right-column {
    align-items: flex-end;
}

.header-column input {
    width: 120px;       /* all input boxes same width */
    padding: 2px 4px;
    vertical-align: middle; /* align input with label */
    box-sizing: border-box;
}
   .report-header input[type="date"] {
        width: 75px !important;   /* fixed width */
   }
.logo {
    max-height: 60px; /* Adjust logo size */
}

    /*-------------------------------------------------------------*/

    /* --- IMAGES --- */
    .Ngamma_graph,
    .Kptandelta_graph {
        width: 160px;   /* set desired width for print */
        height: auto;   /* maintain aspect ratio */
        max-height: none; /* remove screen constraints */
    }



    /* ------------ FIXED REPORT HEADER ------------- */
.report-header {
    display: flex;
    justify-content: space-between; /* Spread the three columns */
    align-items: flex-start;
    padding: 10px;
    margin-bottom: 10px; /* Space below header */
    background-color: #f3d5af9c;
    border: 5px solid  #c4740cc9; ;
    gap: 20px;
}

    .report-header .header-column {
        display: flex;
        flex-direction: column;
        gap: 2px;
        font-size: 1em; /* smaller so it fits */
    }

        .report-header .label-pair {
        width: 90px !important; /* same as screen */
    }

    .report-header label {
        width: auto !important;
        margin-right: 4px;
        white-space: nowrap;
    }

    .report-header input {
        width: 70px !important;
        padding: 1px !important;
        font-size: 7pt !important;
    }

    .report-header img {
        max-height: 50px !important; /* smaller so header fits on page */
    }

    /* ----------- REPORT CONTAINER ON SAME PAGE ------------- */




    /* -------- SELECT STYLING -------- */
    select {
        appearance: none;
        padding: 2px 4px;
        font-size: 8pt;
        height: 18px;
        box-sizing: border-box;
        border-radius: 3px;
    }

    @page {
        margin: 5mm;
    }
}
